/*
*VARIABLES
*/
:root{
    /* FONTS VARIABLES */
    --font: 'Quicksand', sans-serif;

}

/*
*NORMALIZE
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

/*
*BODY
*/
body{
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
*IMGS
*/
.img--large{
    width: 100%;
    height: 100%;
}
.border-left{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.radius-100{
    border-radius: 100%;
}
.border__bottom{
    border-bottom: 1px solid black;
}

/*
*HEADER 
*/
.menu--icon{
    display: none;
}
.fa-bars:before{
    display: none;
}
header{
    height: 85px;
    max-width: 1400px;
    margin: auto;
    padding: 0 10rem 0 2rem;
} 
.header__nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;   
}
.header__nav__title{
    font-size: 2.5rem;
    color: rgb(45, 77, 203);
    text-decoration: none;
    font-weight: bolder;
}
.header__nav__ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
    gap: 5rem;
}

.header__nav__ul__li__link:hover{
    text-decoration: underline;
}

.header__nav__ul__li__link{
    color: #8692A6;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bolder;
}
.header__nav__ul__li__button{
    background-color: #3656D4;
    color: white;
    font-size: 1.8rem;
    border: none;
    font-weight: bold;
    border-radius: .5rem;
    height: 5rem;
    width: 150px;
    cursor: pointer;
}
/*
*SECTION 1
*/
.section--1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    position: relative;
}
.section--1__figure{
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    background-image: url("https://images.pexels.com/photos/3952241/pexels-photo-3952241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
}
.section--1__text{
    text-align: start;
    padding-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap: 2rem;
    padding-left: 7vw;
}
.section--1__text__title{
    font-size: 3.2rem;
    font-weight: bolder;
    color: rgb(45, 77, 203);
    line-height: 4rem;
}
.section--1__text__p{
    color: #6D7B93;
    font-size: 2rem;
    line-height: 3rem;
    max-width: 400px;
}
.section--1__text__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.section--1__text__container__card{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 1rem;
    height: 30px;
    align-items: center;
    color: #1F3E72;
    font-weight: bolder;
}
.section--1__text__container__card__figure{
    background-color: rgb(228, 228, 111);
    height: 100%;
    display: grid;
    place-content: center;
    width: 11%;
    border-radius: 1rem;
    min-width: 18px;
}
.section--1__text__container__card__figure i{
    color: rgb(184, 120, 2);
}
.section--1__overlay{
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 3rem 0;
    gap: 2rem;
    position: absolute;
    bottom: 0;
    left: 10vw;
}
.section--1__overlay__title{
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-weight: bolder;
    color: #1F3E72;
}
.section--1__overlay__title__figure{
    width: 40px;
    background-color: rgb(137, 209, 209);
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 1rem;
}
.section--1__overlay__title__figure i {
    color: rgb(56, 89, 180);
}
.section--1__overlay__container{
    background-color: #f1f1f1;
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: .5rem;
    padding: 2rem;
}
.section--1__overlay__container__card{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    width: 200px;
    margin: auto;
}
.section--1__overlay__container__card__title{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #717E96;
    font-size: 1.6rem;
}
.section--1__overlay__container__card__p{
    padding-left: 3.3rem;
    color: #323FB5;
    font-size: 1.8rem;
    font-weight: bolder;
}
.section--1__overlay__container__card__title__figure{
    background-color: rgb(137, 209, 209);
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
    border-radius: 1rem;
}
.section--1__overlay__container__card__title__figure i {
    color: rgb(56, 89, 180);
}
.section--1__overlay__container__button{
    width: 120px;
    border: none;
    height: 50px;
    border-radius: .5rem;
    background-color:  #3656D4;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}
/*
*SECTION--2
*/
.section--2{
    padding: 4rem 0 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    margin: auto;
    max-width: 1050px;
}
.section--2 figure{
    flex-basis: 25%;
    height: 100%;
    display: grid;
    place-content: center;
}
/*
*STATES
*/
.hidden{
    display: none;
}